[defaults]
vault_password_file = .vaultpw
callbacks_enabled = timer, profile_tasks
forks = 15
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
timeout = 20
[inventory]
enable_plugins = yaml, ini, upcloud.cloud.servers

# [ssh_connection]
# ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
# ssh_executable = ./ssh-nopassauth.sh
