#!/bin/bash
cd {{ mastodon_home }}/live || exit 1

COMMAND=$(RAILS_ENV=production {{ mastodon_home }}/.rbenv/shims/bundle exec sidekiqmon processes | grep -Po '\d' | awk '{s+=$1} END {print s}')

# Check if more than 0
if [ $COMMAND -gt 0 ]; then
  echo "Sidekiq is running"
  curl https://uptime.betterstack.com/api/v1/heartbeat/{{ mastodon_betterstack_sidekick }}
else
  echo "Sidekiq is not running"
fi
