# Read by auth.php via Dotenv::createImmutable('../')
MASTODON_CLIENT_ID={{ mastodon_finnish_users_client_id }}
MASTODON_CLIENT_SECRET={{ mastodon_finnish_users_client_secret }}
MASTODON_ACCESS_TOKEN={{ mastodon_finnish_users_access_token }}
MASTODON_REVOKE_URL={{ mastodon_finnish_users_revoke_url }}
MASTODON_TOKEN_URL={{ mastodon_finnish_users_token_url }}
MASTODON_REDIRECT_URI={{ mastodon_finnish_users_redirect_uri }}
