[Unit]
Description=Check service %i
After=network.target

[Service]
Type=oneshot
User=mastodon
WorkingDirectory={{ mastodon_home }}/
ExecStart=/bin/bash {{ mastodon_home }}/bin/check-%i.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
